

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}

#container a {
  text-decoration: none;
}

/*Reglas personalizadas*/
#container h2{
  color: white;
  text-transform: uppercase;
  font-weight: bold;
}
#banner{
  height: 60vh;
  background-image: linear-gradient(to bottom, #214843, #203e33, #203426, #1e2a1a, #1c200f);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
#btnsBanner{
  position: relative;
  top: -50px;
  z-index: 10;
}
